[submodule "networks/bts"]
	path = networks/bts
	url = git@github.com:korshunovdv/bts.git
[submodule "networks/DiPE"]
	path = networks/DiPE
	url = git@github.com:korshunovdv/DiPE.git
[submodule "networks/GLPDepth"]
	path = networks/GLPDepth
	url = git@github.com:korshunovdv/GLPDepth.git
[submodule "networks/Monocular-Depth-Estimation-Toolbox"]
	path = networks/Monocular-Depth-Estimation-Toolbox
	url = git@github.com:korshunovdv/Monocular-Depth-Estimation-Toolbox.git
